<%-include("layut/header")%>
<main>
    <p>Logind page </p> 
    <form action="/login" method="post" > <br> <br>
        <div>
            <label for="username">username : </label> 
            <input type="text" name="username" id="" >
        </div><br> <br>
        <div>
            <label for="password">Password : </label>
            <input type="password" name="password" id="">
        </div> <br> <br>
        <button type="submit" >Login</button>
    </form>
</main>
<%-include("layut/footer")%>